@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #2B2B2B;
  --main-text-color: #A9B7C6;
  --blue-text-color: #287BDE;
}

.loading {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  z-index: 999;
}
.loading-text {
  color: var(--main-text-color);
  letter-spacing: 10px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.loading-text-letter:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text-letter:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text-letter:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text-letter:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text-letter:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text-letter:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text-letter:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 50px;
  height: 100px;
  width: 100%;
  z-index: 99;
}
@media (max-width: 599px) {
  .navbar {
    justify-content: center;
  }
}
.navbar-logo {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
@media (max-width: 599px) {
  .navbar-logo {
    display: none;
  }
}
.navbar-link-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar-link-list-element {
  padding: 0 10px;
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
}
.navbar-link-list-element-number {
  color: var(--blue-text-color);
}

.social {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
}
@media (max-width: 599px) {
  .social {
    display: none;
  }
}
.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.social-list-element {
  margin-bottom: 15px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.social-list-element:hover {
  transform: translateY(-3px);
}
.social-list-element > a > svg > path {
  fill: var(--main-text-color);
}
.social-list-element > a > svg > path:hover {
  fill: var(--blue-text-color);
}
.social-list:after {
  content: "";
  display: block;
  width: 1px;
  height: 140px;
  margin: 0px auto;
  background-color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
