@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #2B2B2B;
  --main-text-color: #A9B7C6;
  --blue-text-color: #287BDE;
}

.loading {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  z-index: 999;
}
.loading-text {
  color: var(--main-text-color);
  letter-spacing: 10px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.loading-text-letter:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text-letter:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text-letter:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text-letter:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text-letter:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text-letter:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text-letter:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 50px;
  height: 100px;
  width: 100%;
  z-index: 99;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
}
@media (max-width: 599px) {
  .navbar {
    justify-content: center;
  }
}
.navbar-logo {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 24px;
  color: var(--main-text-color);
}
@media (max-width: 599px) {
  .navbar-logo {
    display: none;
  }
}
.navbar-link-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar-link-list-element {
  padding: 0 10px;
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
}
.navbar-link-list-element-number {
  color: var(--blue-text-color);
}

.social {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
}
@media (max-width: 599px) {
  .social {
    display: none;
  }
}
.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.social-list-element {
  margin-bottom: 15px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.social-list-element:hover {
  transform: translateY(-3px);
}
.social-list-element > a > svg > path {
  fill: var(--main-text-color);
}
.social-list-element > a > svg > path:hover {
  fill: var(--blue-text-color);
}
.social-list:after {
  content: "";
  display: block;
  width: 1px;
  height: 140px;
  margin: 0px auto;
  background-color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

#home {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 1099px) {
  #home {
    padding: 0 20px;
  }
}

.content > h1 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--blue-text-color);
}
@media (max-width: 1099px) {
  .content > h1 {
    font-size: 18px;
  }
}
@media (max-width: 599px) {
  .content > h1 {
    font-size: 16px;
  }
}

.content > h2:nth-child(even) {
  font-size: 56px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
}
@media (max-width: 599px) {
  .content > h2:nth-child(even) {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.content > h2:nth-child(even) > span {
  color: var(--blue-text-color);
}

.content > h2:nth-child(odd) {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  max-width: 1100px;
}
@media (max-width: 599px) {
  .content > h2:nth-child(odd) {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.content > p {
  color: #629755;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  max-width: 700px;
  text-align: justify;
  margin-bottom: 50px;
}
@media (max-width: 599px) {
  .content > p {
    font-size: 12px;
  }
}

.bouton {
  text-decoration: none;
  background: var(--blue-text-color);
  color: #fff;
  padding: 10px 60px;
  border-radius: 30px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

#about {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 599px) {
  #about {
    padding: 0 20px;
  }
}

.about-content {
  width: 100%;
}
.about-content-title {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr;
  column-gap: 50px;
  align-items: center;
}
.about-content-title > p {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--main-text-color);
}
@media (max-width: 599px) {
  .about-content-title > p {
    font-size: 16px;
  }
}
.about-content-title > p > span {
  color: var(--blue-text-color);
}
.about-content-title:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 0px auto;
  background-color: var(--main-text-color);
}
.about-content-card {
  max-width: 1600px;
  width: 100%;
  height: 70%;
  margin: 50px auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
@media (max-width: 1099px) {
  .about-content-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.about-content-card-image {
  grid-column: 1/4;
  margin: 10px auto 0 auto;
  width: 300px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #FAFAFA;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
}
@media (max-width: 1099px) {
  .about-content-card-image {
    grid-column: 1/1;
  }
}
.about-content-card-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 4/8;
  padding: 15px;
}
@media (max-width: 1099px) {
  .about-content-card-summary {
    grid-row: 2/3;
    grid-column: 1/1;
  }
}
.about-content-card-summary-skills {
  display: flex;
  flex-direction: column;
  height: 285px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
}
.about-content-card-summary-skills > svg {
  font-size: 32px;
  color: var(--blue-text-color);
}
@media (max-width: 1099px) {
  .about-content-card-summary-skills > svg {
    font-size: 64px;
    width: 64px;
    height: 64px;
  }
}
.about-content-card-summary-skills > svg > path {
  fill: var(--blue-text-color);
}
.about-content-card-summary-skills > p {
  color: var(--main-text-color);
  margin-top: 10px;
  text-align: center;
}
@media (max-width: 1099px) {
  .about-content-card-summary-skills > p {
    font-size: 24px;
    word-spacing: 3px;
  }
}
.about-content-card-summary > p {
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.about-content-card-summary > p:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  color: var(--blue-text-color);
}
.about-content-card-summary > p:nth-child(2) {
  font-size: 28px;
}
.about-content-card-summary > p:nth-child(3) {
  font-size: 20px;
}
@media (max-width: 1099px) {
  .about-content-card-summary > p:nth-child(3) {
    font-size: 18px;
  }
}
@media (max-width: 599px) {
  .about-content-card-summary > p:nth-child(3) {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
