@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #2B2B2B;
  --main-text-color: #A9B7C6;
  --blue-text-color: #287BDE;
}

.loading {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  z-index: 999;
}
.loading-text {
  color: var(--main-text-color);
  letter-spacing: 10px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.loading-text-letter:nth-child(1) {
  filter: blur(0px);
  animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text-letter:nth-child(2) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text-letter:nth-child(3) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text-letter:nth-child(4) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text-letter:nth-child(5) {
  filter: blur(0px);
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text-letter:nth-child(6) {
  filter: blur(0px);
  animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text-letter:nth-child(7) {
  filter: blur(0px);
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@keyframes blur-text {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(4px);
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 50px;
  height: 100px;
  width: 100%;
  z-index: 99;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  transition: top 0.5s;
}
@media screen and (max-width: 599px) {
  .navbar {
    justify-content: center;
  }
}
.navbar-logo {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-size: 24px;
  color: var(--main-text-color);
}
@media screen and (max-width: 599px) {
  .navbar-logo {
    display: none;
  }
}
.navbar-link-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar-link-list-element {
  padding: 0 10px;
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
}
.navbar-link-list-element-number {
  color: var(--blue-text-color);
}

.social {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  z-index: 99;
}
@media screen and (max-width: 599px) {
  .social {
    display: none;
  }
}
.social-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.social-list-element {
  margin-bottom: 15px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.social-list-element:hover {
  transform: translateY(-3px);
}
.social-list-element > a > svg > path {
  fill: var(--main-text-color);
}
.social-list-element > a > svg > path:hover {
  fill: var(--blue-text-color);
}
.social-list:after {
  content: "";
  display: block;
  width: 1px;
  height: 140px;
  margin: 0px auto;
  background-color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

#home {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 1099px) {
  #home {
    padding: 0 20px;
  }
}

.content-head > h1 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--blue-text-color);
}
@media screen and (max-width: 1099px) {
  .content-head > h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 599px) {
  .content-head > h1 {
    font-size: 16px;
  }
}

.content-head > h2:nth-child(even) {
  font-size: 56px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
}
@media screen and (max-width: 599px) {
  .content-head > h2:nth-child(even) {
    font-size: 24px;
    margin-bottom: 15px;
  }
}

.content-head > h2:nth-child(even) > span {
  color: var(--blue-text-color);
}

.content-head > h2:nth-child(odd) {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  max-width: 1100px;
}
@media screen and (max-width: 599px) {
  .content-head > h2:nth-child(odd) {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.content-head > p {
  color: #629755;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  max-width: 700px;
  text-align: justify;
  margin-bottom: 50px;
}

.bouton {
  text-decoration: none;
  background: var(--blue-text-color);
  color: #fff;
  padding: 10px 60px;
  border-radius: 30px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

#about {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 599px) {
  #about {
    padding: 0 20px;
  }
}

.content {
  width: 100%;
}
.content-title {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr;
  column-gap: 50px;
  align-items: center;
}
.content-title > p {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--main-text-color);
}
@media screen and (max-width: 599px) {
  .content-title > p {
    font-size: 16px;
  }
}
.content-title > p > span {
  color: var(--blue-text-color);
}
.content-title:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin: 0px auto;
  background-color: var(--main-text-color);
}
.content-card {
  max-width: 1600px;
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}
@media screen and (max-width: 1099px) {
  .content-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.content-card-image {
  grid-column: 1/4;
  margin: 10px auto 0 auto;
  width: 300px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #FAFAFA;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1099px) {
  .content-card-image {
    grid-column: 1/1;
  }
}
.content-card-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 4/9;
  padding: 15px;
}
@media screen and (max-width: 1099px) {
  .content-card-summary {
    grid-row: 2/3;
    grid-column: 1/1;
  }
}
.content-card-summary-skills {
  display: flex;
  flex-direction: column;
  height: 285px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
}
.content-card-summary-skills > svg {
  font-size: 32px;
  color: var(--blue-text-color);
}
@media screen and (max-width: 1099px) {
  .content-card-summary-skills > svg {
    font-size: 64px;
    width: 64px;
    height: 64px;
  }
}
.content-card-summary-skills > svg > path {
  fill: var(--blue-text-color);
}
.content-card-summary-skills > p {
  color: var(--main-text-color);
  margin-top: 10px;
  text-align: center;
  word-spacing: 1px;
}
@media screen and (max-width: 1099px) {
  .content-card-summary-skills > p {
    font-size: 24px;
    word-spacing: 3px;
  }
}
.content-card-summary > p {
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.content-card-summary > p:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  color: var(--blue-text-color);
}
.content-card-summary > p:nth-child(2) {
  font-size: 28px;
}
.content-card-summary > p:nth-child(3) {
  font-size: 20px;
}
@media screen and (max-width: 1099px) {
  .content-card-summary > p:nth-child(3) {
    font-size: 18px;
  }
}
@media screen and (max-width: 599px) {
  .content-card-summary > p:nth-child(3) {
    font-size: 16px;
  }
}
.content-card .item-1 {
  grid-row: 2/3;
  grid-column: 1/3;
}
@media screen and (max-width: 1099px) {
  .content-card .item-1 {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
.content-card .item-2 {
  grid-row: 2/3;
  grid-column: 3/5;
}
@media screen and (max-width: 1099px) {
  .content-card .item-2 {
    grid-column: 1/-1;
    grid-row: 4/5;
  }
}
.content-card .item-3 {
  grid-row: 2/3;
  grid-column: 5/7;
}
@media screen and (max-width: 1099px) {
  .content-card .item-3 {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}
.content-card .item-4 {
  grid-row: 2/3;
  grid-column: 7/9;
}
@media screen and (max-width: 1099px) {
  .content-card .item-4 {
    grid-column: 1/-1;
    grid-row: 6/7;
  }
}
.content-card .item-5 {
  grid-row: 3/4;
  grid-column: 2/4;
}
@media screen and (max-width: 1099px) {
  .content-card .item-5 {
    grid-column: 1/-1;
    grid-row: 7/8;
  }
}
.content-card .item-6 {
  grid-row: 3/4;
  grid-column: 4/6;
}
@media screen and (max-width: 1099px) {
  .content-card .item-6 {
    grid-column: 1/-1;
    grid-row: 8/9;
  }
}
.content-card .item-7 {
  grid-row: 3/4;
  grid-column: 6/8;
}
@media screen and (max-width: 1099px) {
  .content-card .item-7 {
    grid-column: 1/-1;
    grid-row: 9/10;
  }
}

#experience {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 599px) {
  #experience {
    padding: 0 20px;
  }
}

.content-timeline {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 1099px) {
  .content-timeline {
    min-height: 1100px;
  }
}
@media screen and (max-width: 599px) {
  .content-timeline {
    min-height: 1200px;
  }
}
.content-timeline-row {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1099px) {
  .content-timeline-row {
    flex-direction: column;
  }
}
.content-timeline-row-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 15%;
}
@media screen and (max-width: 1099px) {
  .content-timeline-row-box-1 {
    width: 100%;
    margin-bottom: 50px;
  }
}
.content-timeline-row-box-1 > img {
  width: 100px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #FAFAFA;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
}
.content-timeline-row-box-2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1099px) {
  .content-timeline-row-box-2 {
    width: 100%;
    height: 150%;
  }
}
.content-timeline-row-box-2 > p:nth-child(1) {
  margin-bottom: 15px;
  font-size: 32px;
  color: var(--blue-text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 1099px) {
  .content-timeline-row-box-2 > p:nth-child(1) {
    text-align: center;
  }
}
.content-timeline-row-box-2 > p:nth-child(2) {
  margin-bottom: 15px;
  font-size: 24px;
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
}
.content-timeline-row-box-2 > p:nth-child(3) {
  text-align: center;
  max-width: 500px;
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
}
.content-timeline-row:nth-child(1) {
  margin-bottom: 50px;
}

#work {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 599px) {
  #work {
    padding: 0 20px;
  }
}

.content-project {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-project-card {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.content-project-card:nth-child(1) {
  margin-bottom: 50px;
}
.content-project-card-description {
  grid-row: 1/-1;
  grid-column: 1/7;
  z-index: 3;
  background: none;
}
@media screen and (max-width: 1099px) {
  .content-project-card-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
  }
}
.content-project-card-description-title {
  margin: 10px 25px;
  color: var(--blue-text-color);
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  background: none;
}
.content-project-card-description-resume {
  background-color: #161616;
  padding: 20px 25px;
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
}
@media screen and (max-width: 1099px) {
  .content-project-card-description-resume {
    text-align: center;
  }
}
.content-project-card-description-list {
  background: none;
  list-style: none;
  display: flex;
  margin: 10px 25px;
}
.content-project-card-description-list > * {
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--main-text-color);
}
.content-project-card-image {
  grid-row: 1/-1;
  grid-column: 6/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1099px) {
  .content-project-card-image {
    display: none;
  }
}
.content-project-card-image > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.content-project .reverse-desc {
  grid-column: 6/13;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 1099px) {
  .content-project .reverse-desc {
    grid-column: 1/-1;
    align-items: center;
  }
}
.content-project .reverse-img {
  grid-column: 1/7;
}

#contact {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 200px;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 599px) {
  #contact {
    padding: 0 20px;
  }
}
#contact > .content > .content-title {
  grid-template-columns: 3fr 8fr;
}

.content-contact {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.content-contact > p:nth-child(1) {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--blue-text-color);
}
@media screen and (max-width: 1099px) {
  .content-contact > p:nth-child(1) {
    text-align: center;
    font-size: 28px;
  }
}
@media screen and (max-width: 599px) {
  .content-contact > p:nth-child(1) {
    font-size: 20px;
  }
}
.content-contact > a {
  margin: 50px 0;
  text-decoration: underline;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--main-text-color);
}
@media screen and (max-width: 1099px) {
  .content-contact > a {
    font-size: 28px;
  }
}
@media screen and (max-width: 599px) {
  .content-contact > a {
    font-size: 20px;
  }
}
.content-contact > a:hover {
  color: var(--blue-text-color);
}
.content-contact > p:nth-child(3) {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
  text-align: center;
}
@media screen and (max-width: 1099px) {
  .content-contact > p:nth-child(3) {
    font-size: 20px;
  }
}
@media screen and (max-width: 599px) {
  .content-contact > p:nth-child(3) {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
